
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAll</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav>
            <a href="/Student/GetAll" class="btn btn-secondary">get All</a>
            <a href="/Student/Create" class="btn btn-secondary">create</a>
            <a href="/Student/Update" class="btn btn-secondary">Update</a>
            <a href="/Student/Delete" class="btn btn-secondary">Delete</a>
            

        </nav>

    </header>
<main>This getAll page</main>
    <footer class="bg-primary text-center">This footer</footer>
</body>
</html>
